body {
  background-color: #ff9800;
  color: black;
}

.vertical-container {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1.vertical-container {
  font-size: 275%;
}
